* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


.nav-link {
    font-size: 25px;
    color: wheat;
    font-family: 'Koulen', cursive;
}

.navmenu {
    margin: 25px;
    list-style: none;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    color: #F8C471;
    animation-name: navmenu;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


@keyframes navmenu {
    0% {
        color: #F8C471;
    }
    25% { 
        color: wheat;
    }
    100% {
        color: #F8C471;
    }
}

.nav-link:hover {
    color: yellow;
    transform: scale(1.1);

}

.wpp {
   position: absolute;
   top: 5%;
   left: 93%;
   position: fixed;

}

.wpp:hover {
    transform: scale(1.2);
}

.body {
    height: 700px;
    background-image: url(../imagenes/pexels-jonathan-borba-2983101.png);
    background-repeat: no-repeat;
    background-size: cover; /*Con esta opción adapta la imagen en todo el section*/
    
}

.inicio1__takeaway {
    padding: 3rem;
}

.takeaway {
    font-size: 3rem;
    color: wheat;
    font-family: 'Secular One', sans-serif;
    font-weight: bold; /*poner en negrita con font-weight: bold;*/
}

.pago {
    color: wheat;
    font-family: 'Secular One', sans-serif;
    font-weight: bold;
}

.inicio2 {
    display: flex;
    flex-direction: row-reverse;
    height: 700px;
    
}

.btn-primary {
   background-color: black;
   color: wheat;
   font-weight: bold;
   font-family: 'Secular One', sans-serif;
   
}

.btn-primary:hover {
    transform: scale(1.1);
    background-color: orangered;
}


.inicio2__veggie {
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
    padding: 10px;
    

}

.inicio2__veggie-caja1 {
    background-color: yellowgreen;
    color: black;
    width: 1100px;
    height: 700px;
    text-align: center;
    padding: 15%;
    
    
}

.inicio2__veggie-caja2 {
    width: 100%;
    height: 700px;
    padding-left: 60px;
}

.footer {
    background-color: #17202A ;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.footer__1 {
    padding: 0px;
    padding: 2rem;
}

.footer__1:hover {
    transform: scale(1.1);
}

.bodymenu {
    background-color: black;
}


.menu {
    color: wheat;
    text-align: center;
    font-family: 'Koulen', cursive;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    margin: 10px;
   
}


.menu-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Koulen', cursive;
    font-family: 'Rajdhani', sans-serif;
    font-size: 70px;
    color: wheat;
    margin: 1rem;
    animation-name: menu-1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    border: solid black 5px;
    border-radius: 10px;
    
    
}

@keyframes menu-1 {
    0% {
        background-color:#28B463;
    }
}










@media screen and (max-width: 1024px) {
    .wpp {left: 85%; top: 15%;}
    .inicio2 {flex-direction: column; height: auto;}
    

}

@media screen and (max-width: 600px) {
    .body {height: 800px;}
    .inicio2 {flex-direction: column; height: auto;}
    .inicio2__veggie-caja1 {width: 450px; height: auto; padding: 0;}
    .inicio2__veggie-caja2 {width: 450px; padding-left: 0; height: auto; padding: 0;}
    .inicio2__vegie-imagen {width: 450px; height: 320px;}
    .footer {justify-content: center; height: 200px; padding: 0;}
    .footer__1 {width: 50px; padding: 10px;}
    .footer__ {width: 150px;}
    .imgcheddar {width: 400px; height: 300px;}
    .wpp {left: 85%; width: 40px;}
    
}