@charset "UTF-8";
.btn--Instagram {
  color: orange;
}

.btn--Facebook {
  color: blue;
}

.btn--Whatsapp {
  color: green;
}

.contactanos {
  background-color: #283747;
  text-align: end;
  padding: 1rem;
  margin: 1rem;
  font-size: 20px;
  justify-content: center;
}

.btn, .btn-enviar, .btn-menu {
  width: 150px;
  height: 50px;
  font-size: 25px;
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 20px;
  border: 1px solid black;
  font-weight: bold;
  text-decoration: none;
}

.btn-enviar {
  border: none;
  background-color: #2ECC71;
}

.btn-menu {
  background-color: black;
  color: yellow;
}

.menu {
  width: 500px;
  height: 500px;
  border: solid white;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}

.menu:hover {
  animation-name: mimenu;
  animation-duration: 2s;
}

@keyframes mimenu {
  0% {
    background-color: grey;
    transform: scale(3rem);
  }
  30% {
    background-color: #1D8348;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.nav-link {
  font-size: 25px;
  color: wheat;
  font-family: 'Koulen', cursive;
}

.nav-link .nav-link:hover {
  color: yellow;
  transform: scale(1.1);
}

.navmenu {
  margin: 25px;
  list-style: none;
  text-decoration: none;
  font-size: 40px;
  font-family: 'Teko', sans-serif;
  font-weight: bold;
  color: #F8C471;
  animation-name: navmenu;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes navmenu {
  0% {
    color: #F8C471;
  }
  25% {
    color: wheat;
  }
  100% {
    color: #F8C471;
  }
}

.wpp {
  position: absolute;
  top: 5%;
  left: 95%;
  position: fixed;
}

.wpp:hover {
  transform: scale(1.1);
}

.body {
  height: 700px;
  background-image: url(../imagenes/pexels-jonathan-borba-2983101.png);
  background-repeat: no-repeat;
  background-size: cover;
  /*Con esta opción adapta la imagen en todo el section*/
}

.bodymenu {
  background-color: black;
  height: auto;
  width: auto;
}

.imgbanco {
  width: 500px;
  height: auto;
  flex-direction: column;
  margin: 1rem;
  margin-left: 8rem;
}

.inicio1__takeaway {
  padding: 3rem;
}

.inicio2 {
  display: flex;
  flex-direction: row-reverse;
  height: 700px;
}

.inicio2__veggie {
  font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
  font-weight: bold;
  align-items: center;
  padding: 10px;
}

.inicio2__veggie-caja1 {
  background-color: yellowgreen;
  color: black;
  width: 1100px;
  height: 700px;
  text-align: center;
  padding: 15%;
}

.inicio2__veggie-caja2 {
  width: 100%;
  height: 700px;
  padding-left: 60px;
}

.takeaway {
  margin: 3rem;
  font-size: 3rem;
  color: wheat;
  font-family: "Koulen", cursive;
  font-weight: bold;
  /*poner en negrita con font-weight: bold;*/
}

.pago {
  color: wheat;
  font-family: "Koulen", cursive;
  font-weight: bold;
}

.btn-primary {
  background-color: black;
  color: wheat;
  font-weight: bold;
  font-family: "Koulen", cursive;
}

.btn-primary .btn-primary:hover {
  transform: scale(1.1);
  background-color: orangered;
}

.footer {
  background-color: #212F3C;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Koulen", cursive;
}

.footer__1 {
  padding: 2rem;
}

.footer__1:hover {
  transform: scale(1.1);
}

.menu__text {
  color: wheat;
  text-align: center;
  font-family: 'Koulen', cursive;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  margin: 10px;
  padding: 1rem;
}

.menu__caja {
  border: mediumseagreen solid;
  margin: 2rem;
}

.menu__img {
  text-align: center;
  margin-left: 20%;
}

.menu-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Koulen", cursive;
  font-size: 70px;
  color: wheat;
  margin: 1rem;
  animation-name: menu-1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  border: solid black 5px;
  border-radius: 10px;
}

@keyframes menu-1 {
  0% {
    background-color: #28B463;
  }
}

@media screen and (max-width: 1024px) {
  .body {
    background-size: auto;
  }
  .wpp {
    left: 85%;
    top: 15%;
  }
  .inicio2 {
    flex-direction: column;
    width: auto;
    height: auto;
  }
  .inicio2__veggie-caja1 {
    width: auto;
    height: 250px;
    padding: 0;
  }
  .inicio2__veggie-caja2 {
    width: auto;
    padding-left: 0;
    height: auto;
    padding: 0;
  }
  .inicio2__vegie-imagen {
    width: auto;
    padding-left: 25%;
  }
  .wpp {
    left: 90%;
    width: 40px;
  }
  .imgcheddar {
    display: none;
  }
  .imgbanco {
    width: 500px;
    height: auto;
    flex-direction: column;
    margin: 5px;
  }
  .menu__img {
    width: 200px;
    text-align: center;
  }
  .menu {
    width: 400px;
    justify-content: center;
  }
  .menupadre {
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10%;
  }
}

@media screen and (max-width: 600px) {
  .body {
    height: 800px;
    background-size: cover;
  }
  .bodymenu {
    width: auto;
  }
  .inicio2 {
    flex-direction: column;
    height: auto;
  }
  .inicio2__veggie-caja1 {
    width: auto;
    height: 400px;
    padding: 0;
  }
  .inicio2__veggie-caja2 {
    width: auto;
    padding-left: 0;
    height: auto;
    padding: 0;
  }
  .inicio2__vegie-imagen {
    width: 300px;
    height: 320px;
    padding-left: 0;
  }
  .footer {
    justify-content: center;
    height: 200px;
    padding: 0;
  }
  .footer__1 {
    width: 50px;
    padding: 10px;
  }
  .footer__ {
    width: 150px;
  }
  .imgcheddar {
    display: none;
  }
  .imgcheddar {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: center;
    margin: 0px;
  }
  .imgbanco {
    width: 250px;
    height: auto;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
  }
  .wpp {
    left: 85%;
    width: 40px;
  }
  .imgveggie {
    width: 280px;
    margin: 3px;
  }
  .menu-1 {
    display: none;
  }
  .menu__img {
    text-align: center;
  }
  .menu {
    width: 320px;
    margin-left: 0px;
  }
  .menupadre {
    flex-direction: column;
    margin-left: 0;
  }
}
/*# sourceMappingURL=estilos.css.map */