.body {
    height: 700px;
    background-image: url(../imagenes/pexels-jonathan-borba-2983101.png);
    background-repeat: no-repeat;
    background-size: cover; /*Con esta opción adapta la imagen en todo el section*/
    
}

.bodymenu {
    background-color: black;
    height: auto;
    width: auto;
}

.imgbanco {
    width: 500px;
    height: auto;
    flex-direction: column;
    margin: 1rem;
    margin-left: 8rem;
  }
