@media screen and (max-width: 1024px) {
    .body {background-size: auto;}
    .wpp {left: 85%; top: 15%;}
    .inicio2 {flex-direction: column; width: auto; height: auto;}
    .inicio2__veggie-caja1 {width: auto; height: 250px; padding: 0;}
    .inicio2__veggie-caja2 {width: auto; padding-left: 0; height: auto; padding: 0;}
    .inicio2__vegie-imagen {width: auto; padding-left: 25%;}
    .wpp {left: 90%; width: 40px;}
    .imgcheddar {display: none;}
    .imgbanco {width: 500px; height: auto; flex-direction: column; margin: 5px;}
    .menu__img {width: 200px; text-align: center;}
    .menu {width: 400px; justify-content: center;}
    .menupadre {flex-direction: column; justify-content: space-around; margin-left: 10%;}
    

}

@media screen and (max-width: 600px) {
    .body {height: 800px; background-size: cover;}
    .bodymenu {width: auto;}
    .inicio2 {flex-direction: column; height: auto;}
    .inicio2__veggie-caja1 {width: auto; height: 400px; padding: 0;}
    .inicio2__veggie-caja2 {width: auto; padding-left: 0; height: auto; padding: 0;}
    .inicio2__vegie-imagen {width: 300px; height: 320px; padding-left: 0;}
    .footer {justify-content: center; height: 200px; padding: 0;}
    .footer__1 {width: 50px; padding: 10px;}
    .footer__ {width: 150px;}
    .imgcheddar {display: none;}
    .imgcheddar {display: flex; flex-direction: column; width: auto; height: auto; justify-content: center; margin: 0px;}
    .imgbanco {width: 250px; height: auto; flex-direction: column; text-align:  center; margin: 1rem;}
    .wpp {left: 85%; width: 40px;}
    .imgveggie {width: 280px; margin: 3px;} 
    .menu-1 {display: none;}
    .menu__img {text-align: center;}
    .menu {width: 320px; margin-left: 0px;}
    .menupadre {flex-direction: column; margin-left: 0;}
    

}