.menu__text {
    color: wheat;
    text-align: center;
    font-family: 'Koulen', cursive;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    margin: 10px;
    padding: 1rem;
   
}

.menu__caja {
    border: mediumseagreen solid;
    margin: 2rem;
}

.menu__img {
    text-align: center;
    margin-left: 20%;
    
}


.menu-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: $letra-principal;
    font-size: 70px;
    color: $color-principal;
    margin: 1rem;
    animation-name: menu-1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    border: solid black 5px;
    border-radius: 10px;
    
    
}

@keyframes menu-1 {
    0% {
        background-color:#28B463;
    }
}

.menupadre {
    
}