.body {
    height: 700px;
    background-image: url(../imagenes/pexels-jonathan-borba-2983101.png);
    background-repeat: no-repeat;
    background-size: cover; /*Con esta opción adapta la imagen en todo el section*/
    
}

.bodymenu {
    background-color: red;
    height: auto;
    width: auto;
}